body{
	background-image: url('../images/background2.jpg');
}

#footer{
	/*position: absolute;*/
	margin-top: 10px;
	bottom: 0px;
	text-align: center;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	background: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}

#principal{
	background-color: #f9f9f9;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-top: 10px;
	border: 2px solid;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    min-width: 960px;
    max-width: 1960px;
}

.selector-jornada{
	padding: 20px;
}

.table-pizarra{
	background-image: url('../images/pizarra2.jpg');
	background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-weight: bold;
}

table.table-pizarra td{
	color: white;
	text-shadow: -2px -2px 2px #276900, 2px -2px 2px #276900, -2px 2px 2px #276900, 2px 2px 2px #276900;
}

.table-verde tr:first-child th {
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	background-color: rgb(7, 81, 7);
	color: rgb(234, 231, 231);

	-o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
    
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

#atributos-historico{
	margin-top: 10px;
	float: left;
	font-size: 17px;
}

#logo{
	width: 50px;
}

.resultado-partido{
	font-size: 25px;
	font-weight: bold;
	margin: 15px;
}

.btn-relieve-cesped{
	background-color: rgb(7, 81, 7);
	color: rgb(234, 231, 231);

	-o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
    
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

button.btn-relieve-cesped:hover{
	background-color: rgb(7, 81, 7);
	color: rgb(234, 231, 231);
}

button.btn-relieve-cesped:focus
{
	background-color: rgb(7, 81, 7);
	color: rgb(234, 231, 231);
}

button.btn-relieve-cesped:active
{
	background-color: rgb(7, 81, 7);
	color: rgb(234, 231, 231);
}

.texto-centrado{
	text-align: center;
}

html, body, .container {height: 100%;}

.container {
	height: auto; min-height: 100%;
}

.horario {
	display: inline-block;
}

.teamName {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 5%;
	text-align: left;
}

.clasificacion {
	display: inline-block;
	float: left;
	margin:0px;padding:0px;
	box-shadow: 8px 15px 15px #888888;

	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.clasificacion table{
    border-collapse: collapse;
    border-spacing: 0;
	width:auto;
	height:auto;
	margin:0px;padding:0px;
}
.clasificacion table td {
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}
.clasificacion tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.clasificacion table tr:first-child td:first-child {
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
}
.clasificacion table tr:first-child td:last-child {
	-moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	border-top-right-radius:15px;
}.clasificacion tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.clasificacion tr:hover td{
	
}
.clasificacion tr:nth-child(odd){ background-color:#F4F7F0; }
.clasificacion tr:nth-child(even)    { background-color:#ffffff; }.clasificacion td{
	vertical-align:middle;
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.clasificacion tr:last-child td{
	border-width:0px 1px 0px 0px;
}.clasificacion tr td:last-child{
	border-width:0px 0px 1px 0px;
}.clasificacion tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.clasificacion tr:first-child td{
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	background-color: rgb(7, 81, 7);
	color: rgb(234, 231, 231);

	-o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
    
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

.clasificacion tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.clasificacion tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.resultados {
	display: inline-block;
	float: left;
	margin:0px;
	padding:0px;
	border:1px solid #2d8457;
	
	-moz-border-radius-bottomleft:13px;
	-webkit-border-bottom-left-radius:13px;
	border-bottom-left-radius:13px;
	
	-moz-border-radius-bottomright:13px;
	-webkit-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
	
	-moz-border-radius-topright:13px;
	-webkit-border-top-right-radius:13px;
	border-top-right-radius:13px;
	
	-moz-border-radius-topleft:13px;
	-webkit-border-top-left-radius:13px;
	border-top-left-radius:13px;
}.resultados table{
    border-collapse: collapse;
    border-spacing: 0;
	margin:0px;padding:0px;
}.resultados tr:last-child td:last-child {
	-moz-border-radius-bottomright:13px;
	-webkit-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
}
.resultados table tr:first-child td:first-child {
	-moz-border-radius-topleft:13px;
	-webkit-border-top-left-radius:13px;
	border-top-left-radius:13px;
}
.resultados table tr:first-child td:last-child {
	-moz-border-radius-topright:13px;
	-webkit-border-top-right-radius:13px;
	border-top-right-radius:13px;
}.resultados tr:last-child td:first-child{
	-moz-border-radius-bottomleft:13px;
	-webkit-border-bottom-left-radius:13px;
	border-bottom-left-radius:13px;
}.resultados tr:hover td{
	background-color:#ffffff;
		

}
.resultados tr:nth-child(n+2) td{
	vertical-align:middle;
	background:-o-linear-gradient(bottom, #dddcdb 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dddcdb), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #dddcdb 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dddcdb", endColorstr="#ffffff");	background: -o-linear-gradient(top,#dddcdb,ffffff);

	background-color:#dddcdb;

	border:1px solid #2d8457;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:12px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.resultados tr:last-child td{
	border-width:0px 1px 0px 0px;
}.resultados tr td:last-child{
	border-width:0px 0px 1px 0px;
}.resultados tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.resultados tr:first-child td{
	padding:12px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	background-color: rgb(7, 81, 7);
	color: rgb(234, 231, 231);

	-o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
    
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}
.resultados tr:first-child td:nth-child(2){
	font-size:10px;
}

.resultados tr:nth-child(n+2) td:nth-child(2){
	font-size:20px;
	font-weight: bold;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9B9B9B), color-stop(1, #9B9B9B) );
	color: white;
}

.resultados tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.resultados tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.alineacion {
	position: relative;
	display: inline-block;
	border: solid 10px rgb(12, 61, 12);
	border-radius: 5px;
}

.alineacion img{
	position: relative;
}

.players {
   position: absolute;
   top: 20px;
   left: 50px; 
   color: white;
   font-size: 15px;
   font-family: Segoe Print, Verdana;
   font-style: italic;
   text-align: center;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:50px;
	right:20px;
	z-index: 1;
}

.dropdown.teamSelection {
	display: inline-block;
}

.division {
	margin-top: 25px;
}

.panel-body {
	margin: auto;
	padding: 5%;
}